@import "tailwindcss";
@import "@bryntum/schedulerpro/fontawesome/css/fontawesome.css";
@import "@bryntum/schedulerpro/fontawesome/css/solid.css";
@import "@bryntum/schedulerpro/schedulerpro.css";
@import "@bryntum/schedulerpro/svalbard-light.css";

.home-page {
  display : flex;
  align-items : center;
  justify-content : center;
  height : 100%;
}

main {
  height: 100vh;
}

nav {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e7;
  background-color: #0076f8;
  color: #ffffff;
}

nav .logged-in-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav .logged-out-item {
  padding : 0.6rem 0;
}

.button {
  border-radius: 3px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #27ca37;
  color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  border-color: #27ca37;
  background-color: #27ca37;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button:disabled {
  background-color: #e0e0e7;
  color: #a0a0a7;
  cursor: not-allowed;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  to {transform: rotate(360deg); }
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}

.login-form-container form {
  width: 100%;
  max-width: 300px;
}

.login-form-container form fieldset {
  /* remove default styling */
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  border: none;
  min-inline-size: min-content;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.login-form-container input {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  border: 1px solid #e0e0e7;
}

.login-form-container .button-container {
  display: flex;
  gap: 1rem;
}

.error-message {
  height: 50px;
  font-size: 0.8rem;
  color: #ff4d4f;
}

summary::-webkit-details-marker {
  display: none
}

.checker-background::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#e6e6e690 1px, transparent 1px),
  linear-gradient(90deg, #e6e6e690 1px, transparent 1px);
  background-size: 3.7em 3.7em;
  mask-image: radial-gradient(ellipse at 50% 40%, black 0%, transparent 55%);
  z-index: -1;
  background-position-x: center;
}

.demo-app {
    display        : flex;
    flex-direction : column;
    height         : 100%;
}

.demo-toolbar {
    display: flex;
}